body {
    background: linear-gradient(to bottom, #4B0082, #000000);
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.header {
    position: fixed;
    top: 20px;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.header a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.fade-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
    border-radius: 5px;
    margin: 0 5px;
}

.fade-button:hover {
    background-color: transparent;
    transform: scale(1.1);
}

.content {
    margin-top: 150px;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
}

.plan-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.plan-box {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

.plan-box h2 {
    margin: 0;
    padding-bottom: 10px;
}

.plan-box p {
    margin: 0;
}

.shield-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
}

.shield-button img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.shield-button img:hover {
    transform: scale(1.2);
}

.profile-viewer-button {
    background-color: transparent;
    color: white;
    padding: 3px;
    width: 30px; /* Smaller size */
    height: 30px; /* Smaller size */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    transition: background-color 0.5s ease, transform 0.5s ease;
    z-index: 1001;
    border: none; /* Remove the border */
}

.profile-viewer-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.profile-viewer-button img {
    width: 20px; /* Smaller icon size */
    height: 20px; /* Smaller icon size */
}
