/* General Reset and Box-Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #004080;
    color: #fff;
    padding: 10px 0;
    position: relative;
}

header .logo {
    width: 75px;
    float: middle;
    padding: -250px 0;
    padding-left: -250
}

header nav {
    float: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: #f4f4f4;
    text-align: center;
    padding: 50px 0;
}

.hero h1 {
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
}

.intro, .about, .services, .contact {
    padding: 20px;
    text-align: center;
}

footer {
    background: #004080;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

footer p {
    margin: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}
